Backup-Marmara_Turk_and_Global_Turk/Linux/back/
Backup-Marmara_Turk_and_Global_Turk/Linux/__pycache__/
Backup-Marmara_Turk_and_Global_Turk/Windows/back/
Yillik_İzin_Hakediş_Hesaplama-Maramara_Turk_and_Global_Turk/.venv/
Yillik_İzin_Hakediş_Hesaplama-Maramara_Turk_and_Global_Turk/personal_izin.db
